@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

body {
    background-color: gray;
}

#done, #pending, #add-new {
    padding: 10px;
}

#todoList {
    font-family: "Work Sans";
    border: 2px solid black;
    border-radius: 1em;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: antiquewhite;
}

#todo-container {
    display: flex;
    justify-content: space-between;
}

.fa-solid {
    padding: 2px;
    margin: 5px;
}

button {
    font-family: "Work Sans";
    background-color: pink;
    border: 2px solid pink;
    border-radius: 2em;
}